<div class="cmd cmd-widget #history#" data-type="info" data-subtype="numeric" data-template="light" data-cmd_id="#id#" data-cmd_uid="#uid#" data-version="#version#" data-eqLogic_id="#eqLogic_id#">
  <div class="title #hide_name#">
    <div  class="cmdName">#name_display#</div>
  </div>
  <div class="content-sm ">
    <span class="iconCmd"></span>
  </div>
  <script>
    jeedom.cmd.update['#id#'] = function(_options){
      $('.cmd[data-cmd_id=#id#]').attr('title','{{Date de valeur}} : '+_options.valueDate+'<br/>{{Date de collecte}} : '+_options.collectDate)
      var cmd = $('.cmd[data-cmd_id=#id#]');
      if (_options.display_value == "0") {
        cmd.find('.iconCmd').empty().append('#icon_defauts_level_0#');
      } else if (_options.display_value == "1") {
        cmd.find('.iconCmd').empty().append('#icon_defauts_level_1#');
      } else if (_options.display_value == "2") {
        cmd.find('.iconCmd').empty().append('#icon_defauts_level_2#');
      }
    }
    jeedom.cmd.update['#id#']({display_value:'#state#',valueDate:'#valueDate#',collectDate:'#collectDate#',alertLevel:'#alertLevel#'});
  </script>
</div>
