<div class="cmd cmd-widget cursor" data-type="action" data-subtype="other" data-template="acquittement" data-cmd_id="#id#" data-cmd_uid="#uid#" data-version="#version#" data-eqLogic_id="#eqLogic_id#">
    <div class="title #hide_name#"> 
	<div class="cmdName">#valueName#</div>
    </div>
    <div class="content-sm">
        <span class=iconCmd></span>
    </div>
    <script>
	jeedom.cmd.update['#id#'] = function(_options) {
		var cmd = $('.cmd[data-cmd_id=#id#]');
		if (_options.value == 0) {
			cmd.find('.iconCmd').empty().append('#icon_defauts_level_0#');
		} else if (_options.value == 1) {
			cmd.find('.iconCmd').empty().append('#icon_defauts_level_1#');
		} else if (_options.value == 2) {
			cmd.find('.iconCmd').empty().append('#icon_defauts_level_2#');
		}
	}
	jeedom.cmd.update['#id#']({value:'#state#',display_value:'#state#',valueDate:'#valueDate#',collectDate:'#collectDate#',alertLevel:'#alertLevel#'});
        $('.cmd[data-cmd_uid=#uid#]').off('click').on('click', function () {
       	    jeedom.cmd.execute({id: '#id#'});
       	});
    </script>

</div>
